
.hero{
    position: relative;
}

.art{
    font-size: 22vw;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #272727;
    
}

.intro{
    font-weight: 700;
    position: absolute;
    margin-top: 50px;
    padding: 2rem;
    color: #626262;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Syncopate', sans-serif;
}

.special{
    font-family: 'Rubik Distressed', cursive;
    font-weight: 200;
    color: green;
    
}