.mission{
    margin-bottom:10px ;
    color: #0f0c0c;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Syncopate', sans-serif;
    /* font-size: 20px; */
    font-weight: 900;
}


.mission-about{
    font-family: "sans-serif" ;
    color: #272727;
    /* font-weight: 800; */
    font-size: 35px;
}