/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');



/* .App {
  text-align: center;
} */

.helo{
  font-family: 'Rubik Distressed', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  /* background-color: #001530; */
  /* background-image: linear-gradient(#59D1D1, #001530); */
  background: linear-gradient(to top, #001530, #0EC9AC);
}

@font-face { 
	font-family: "hack"; 
	src: url('./Components/Font/SonOfAGlitchItalic-xa3m.ttf'); 
}

.te{
  font-family: hack;
}